/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  font-family: "Comforter", cursive;
  font-family: "Quattrocento Sans", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

/* HEADER STYLES */
header a {
  text-decoration: none;
  color: white;
}

header p {
  font-size: 12px;
  margin: 0;
  padding: 0.3em 0;
  min-height: 100%;
}

/* TASK LIST STYLES */
.item {
  min-height: 5em;
  max-height: 5.5em;
}

.fill {
  margin: 0;
  padding: 0;
  min-height: 5em;
  max-height: 5.5em;
}

.timeSlot {
  background-color: #dddddd;
}

.saveSlot {
  padding: 0;
  background-color: #194c86;
  text-align: center;
  align-items: center;
}
.saveSlot:hover {
  background-color: #245b9b;
}

.saveSlot img {
  transform: scale(1);
  max-width: 40%;
  height: auto;
}

.task-text {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.text-input {
  font-size: 18px;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  /* transparent background so it doesn't mess with my time
  based background setup */
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-decoration: none;
}

/* BACKGROUND COLOR MODIFIER STYLES */
.isAfter {
  background-color: #888888;
}
.isAfter:hover {
  background-color: #999999;
}
.isNow {
  background-color: #993333;
}

.isNow:hover {
  background-color: #aa4444;
}
.isBefore {
  background-color: #338833;
}
.isBefore:hover {
  background-color: #449944;
}

/* media queries for minor changes on small screens */

@media (max-width: 748px) {
  .timeSlot p {
    font-size: 10px;
  }
  .task-text {
    font-size: 12px;
  }

  .item {
    min-height: 3em;
    max-height: 4em;
  }

  .fill {
    margin: 0;
    padding: 0;
    min-height: 3em;
    max-height: 4em;
  }
  .saveSlot img {
    max-width: 80%;
  }
}
